{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}


{% block title %}
    {{ movie.title }}
{% endblock %}
<!--<img src='{% static "images/yellow-bokeh.jpg" %}'id="bg" alt="">-->
<!--<div background='{% static "images/yellow-bokeh.jpg" %}'>-->
{% block content %}
<!--<span class="badge badge-secondary">{{ popularity }}point!</span></h2>-->

<br>
<div class="container gen-container">
    <div class="row">
        <div class="col-md ml-auto mr-auto">
            <h2>{{ movie.title }}</h2>
            <img src="https://image.tmdb.org/t/p/w342{{ movie.poster_path }}" alt="{{ movie.title }}의 poster">
        </div>
        <div class="col-md mt-auto ml-5 mb-5">
            <h5>개봉일 : {{ movie.release_date }}</h5>
            {% if average_point %}
                <h5>평점 :
                    {% for i in average_point %}
                        ⭐
                    {% endfor %}
                </h5>
            {% else %}
                <h5>아직 평점이 없습니다! 리뷰를 남겨보세요.</h5>
            {% endif %}
            <h5>장르 :
                {% for genre in movie.genres.all %}
                <a href="{% url 'movies:genre_list' genre.pk %}"><span class="badge">{{ genre.name }}</span></a>
                {% endfor %}
            </h5>
            <p>{{ movie.overview }}</p>
            <a href="{% url 'reviews:create' movie.pk %}" class="btnSubmit text-dark">리뷰 남기러 가기</a>
        </div>
    </div>
</div>
    <hr>
    <table class="table">
      <tbody>
        {% for review in reviews %}
            <tr>
                <th scope="row"></th>
                <td></td>
                <td><a class="text-dark" href="{% url 'reviews:detail' review.pk %}">{{ review.title }}</a></td>
                <td>{{ review.user.username }}</td>
                <td>{{ review.created_at }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}

{% block style %}

<style>
@import url(//fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet");

.gen-container{
    font-family: 'Jua', sans-serif;
}
.h2{
    font-family: 'Jua', sans-serif;
}
.badge{
    font-family: 'Jua', sans-serif;
    font-weight: 600;
    color: white;
    background-color: black;
    border: none;
    border-radius: 1.5rem;
    padding:1.3%;
    cursor: pointer;
}
.btnSubmit{
    font-weight: 600;
    width: 10%;
    color: #282726;
    background-color: #F08080;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
    font-family: 'Jua', sans-serif;
}
.table{
    font-family: 'Jua', sans-serif;
}
</style>

{% endblock %}